*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.limiter{
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    z-index: 1;
}
.limiter .container_Register{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
}
.limiter .container_Register .wrap_Register{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    height: 80%;
    min-width: 800px;
    max-width: 1200px;  
    min-height: 550px;
    max-height: 1080px;
    border-radius: 25px;
    overflow: hidden;
    background: black;
    padding: 50px 50px 50px 50px;
}
.limiter .container_Register .wrap_Register .back_Button{
    position: absolute;
    height: 4%;
    width: 3%;
    background-color: aquamarine;
}
.limiter .container_Register .wrap_Register .back_Button img{
    height: 100%;
    width: 100%;
}
.limiter .container_Register .wrap_Register .input_Area{
    display: block;
    width: 45%;
    height: 100%;
}
.limiter .container_Register .wrap_Register .input_Area .title{
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    font-size: 40px;
    height: 40px;
    width: 100%;
    color: white;
    padding-left: 5%;
    margin-bottom: 15%;
}
.limiter .container_Register .wrap_Register .input_Area .email_Input{
    position: relative;
    display: block;
    height: 50px;
    width: 100%;
    margin-bottom: 5%;
    cursor: text;
}
.limiter .container_Register .wrap_Register .input_Area .symbol{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    padding-right: 80%;
    transition: all 0.4s;
}
.limiter .container_Register .wrap_Register .input_Area .symbol i{
    display: inline-block;
    height: 50%;
}
.limiter .container_Register .wrap_Register .input_Area .name_Input{
    position: relative;
    display: block;
    height: 50px;
    width: 100%;
    margin-bottom: 5%;
    cursor: text;
}
.limiter .container_Register .wrap_Register .input_Area .password_Input{
    position: relative;
    display: block;
    height: 50px;
    width: 100%;
    margin-bottom: 5%;
    cursor: text;
}
.limiter .container_Register .wrap_Register .input_Area .re_Password_Input{
    position: relative;
    display: block;
    height: 50px;
    width: 100%;
    cursor: text;
}
.limiter .container_Register .wrap_Register .input_Area input{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    outline: none;
    border: none;
    border-radius: 25px;
    color: black;
    background: rgba(217, 210, 210, 0.582);
    display: block;
    height: 100%;
    width: 100%;
    padding: 0px 30px 0px 68px;
    transition: all 0.4s;
}
.limiter .container_Register .wrap_Register .input_Area input:hover{
    transform: scale(1.2);
}
.limiter .container_Register .wrap_Register .input_Area input:focus{
    transform: scale(1.2);
}
.limiter .container_Register .wrap_Register .input_Area input:hover+.symbol{
    padding-right: 100%;
}
.limiter .container_Register .wrap_Register .input_Area input:focus+.symbol{
    padding-right: 100%;
}
.limiter .container_Register .wrap_Register .input_Area .warningMsg{
    text-align: center;
    color: red;
    display: block;
    font-size: 15px;
    height: 35px;
    width: 100%;
}
.limiter .container_Register .wrap_Register .input_Area .warningMsg #email_Empty{
    display: none;
}
.limiter .container_Register .wrap_Register .input_Area .warningMsg #email_Format_Error{
    display: none;
}
.limiter .container_Register .wrap_Register .input_Area .warningMsg #name_Empty{
    display: none;
}
.limiter .container_Register .wrap_Register .input_Area .warningMsg #pass_Empty{
    display: none;
}
.limiter .container_Register .wrap_Register .input_Area .warningMsg #repass_Empty{
    display: none;
}
.limiter .container_Register .wrap_Register .input_Area .warningMsg #diffPass{
    display: none;
}
.limiter .container_Register .wrap_Register .upload_Image{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    width: 50%;
    padding-top: 10%;
}
.limiter .container_Register .wrap_Register .upload_Image .preview_Image{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    background: grey;
    border-radius: 50%;
    border: inset 1px black;
}
.limiter .container_Register .wrap_Register .upload_Image .preview_Image img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.limiter .container_Register .wrap_Register .upload_Image label{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 25px;
    justify-content: center;
    align-content: center;
    background: rgb(215, 177, 215);
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    border-radius: 25px;
    transition: all 0.4s;
    cursor: pointer;
    padding: 0px 25px;
}
.limiter .container_Register .wrap_Register .upload_Image input{
    display: none;
}
.limiter .container_Register .wrap_Register .upload_Image .finish_Create{
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.limiter .container_Register .wrap_Register .upload_Image .finish_Create button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    background: purple;
    width: 90%;
    height: 40px;
    max-width: 400px;
    border-radius: 25px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 25px;
    transition: all 0.4s;
    outline: none !important;
    cursor: pointer;
}
.limiter .container_Register .wrap_Register .upload_Image label:hover{
    background: red;
}
.limiter .container_Register .wrap_Register .upload_Image .finish_Create button:hover{
    background: rgb(108, 240, 108);
}
::placeholder{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.4);
}