@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxP.ttf) format('truetype');
}
  
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfABc9.ttf) format('truetype');
}

:root {
    --primary-color: #8714B1;
    --secondary-color: #999;
    --green-color: #6A1BA8;
    --green-hover-color:rgb(150, 132, 204);
    --color-blurple: #7289da;
	--color-not-quite-black: #23272a;
	--color-dark: #2c2f33;
	--color-lighter-dark: #45494e;
	--color-full-white: #ffffff;
	--color-grey-white: #B9BBBE;
	--color-grey-dark: #242629;
	--color-actually-black: #000000;
	--color-fantastic-green: #00ae7a;
}

* {
    box-sizing: border-box;
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: #303030;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #474747;
    border-radius: 10px;
    border: 3px none #7d7d7d;
  }
  
body {
    margin: 0;
    padding: 0;
    background-color: #303030;
    font-size: 14px;
}

nav {
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    overflow: hidden;
    height: 100%;
}


.sidebar-container {
    background-color: #111;
    min-height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: fixed;
    box-sizing: border-box;
    list-style-type: none;
    
}

.sidebar-button {
    background-color: var(--primary-color);
    height: 48px;
    width: 48px;
    border-radius: 50%;
    position: relative;
    transition: border-radius 128ms, background 128ms, color 128ms;
    
}

.sidebar-button:hover {
    scale: 1.2;
    cursor: pointer;
}

.sidebar-button:hover::before {
    transform: translate(-100%, 50%) scale(.5);
}


.divider {
    width: 100%;
    background-color: var(--color-full-white);
    height: 2px;
    border-radius: 2px;
    opacity: 50%;
    transform: scale(75%);
}

.icon {
    width: inherit;
    aspect-ratio: 1;
    border-radius: inherit;
}

.popper-text {
    color: var(--primary-color)
}

.popper {
	background: var(--color-actually-black);
	padding: 10px 15px;
	position: absolute;
	top: 50%;
	left: 155%;
	transform-origin: left;
	transform: translateY(-50%) scale(0.98);
	width: max-content;
	max-width: 256px;
	border-radius: 16px;
    box-shadow: 0px 0px 16px -2px rgba(255,255,255,0.4);
	opacity: 0;
	transition: opacity 64ms, transform 128ms cubic-bezier(0.43, 0.09, 0.38, 2.56);
	pointer-events: none;
}

.popper::before {
	content: '';
	position: absolute;
	left: -2px;
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
	background: var(--color-actually-black);
	width: 24px;
	height: 24px;
	z-index: -1;
}

.sidebar-button:hover .popper {
	opacity: 1;
	transform: translateY(-50%) scale(1);
}

.music-player {
    
    --padding: 1em;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 12;
    bottom: 0;
    width: 100%;
    padding: var(--padding);
    color: var(--primary-color);
}
i{
    color: var(--secondary-color);
}
i:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.song-bar {
    position: absolute;
    left: var(--padding);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 25%;
}

.song-info {
    display: flex;
    align-items: center;
    gap: 1em;
}
.image-container {
    --size: 4.5em;
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.song-desc p {
    margin: 0.2em;
}
.title,
.artist {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: var(--secondary-color);
}
.title:hover,
.artist:hover {
    text-decoration: underline;
    color: var(--primary-color);
    cursor: pointer;
}
.title {
    font-weight: bold;
}


.progress-controller{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--secondary-color);
}
.control-buttons{
    display: flex;
    align-items: center;
    gap: 1em;
}
.play-pause{
    display: inline-block;
    padding: 0.5em;
    background-color: var(--primary-color);
    color: #111;
    border-radius: 50%;
}
.play-pause:hover{
    transform: scale(1.2);
    color: #111;
}


.slider-container {
    display: flex;
    width: 40%;
    border-radius: 10px;
    color: var(--secondary-color);
}


input[type=range] {
    height: 22px;
    margin: 7px 0;
    width: 100%;
    -webkit-appearance: none;
    background-color: inherit;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    background: var(--primary-color);
    opacity: 70%;
    border-radius: 0px;
    border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    border: 2px solid var(--primary-color);
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background: var(--primary-color);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}

.seek-slider {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.volume-slider {
  width: 20%;
}

.features{
    position: absolute;
    z-index: 100;
    right: var(--padding);
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 20px;
    align-items: center;
}

.share-btn, .queue-btn {
    z-index: inherit;
}

.volume-bar{
    display: flex;
    align-items: center;
    gap: .7em;
}
.volume-bar .progress-bar{
    width: 6em;
}

.current-time, .total-duration {
    padding: 10px;
  }

.share-popup {
    background-color: #303040;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 170%;
    transform: translate(-65%, -110%);
    padding: 15px;
    border-radius: 10%;
    box-shadow: 5px 10px 15px rgba(0,0,0,0.1);
    opacity: 0%;
    pointer-events: none;
}

.share-popup.show {
    opacity: 1;
    pointer-events: auto;
    transition: top 0s 0s ease-in-out,
                opacity 0.2s 0s ease-in-out,
                transform 0.2s 0s ease-in-out;
}

.share-popup header {
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    font-size: 21px;
    font-weight: 500;
}

.share-content input {
    border: none;
    outline: none;
    height: 100%;
    font-size: 12px;
    text-align: center;
}

.share-content button {
    padding: 5px 10px;
    
}

header .close-share {
    height: 33px;
    width: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.share-content {
    margin: 20px 0;
}

.share-content p {
    font-size: 16px;
}

.share-icons {
    justify-content: space-between;
    margin: 10px 0 0 10px;
    transform: scale(1.6);
}

.share-icons a {
    height: 50px;
    width: 50px;
    text-decoration: none;
    justify-content: space-between;
}

.timeline {
    min-height: 100%;
    margin-left: 50px;
    width: 66%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    box-sizing: border-box;
    list-style-type: none;
}

.post-block {
    position:relative;
    border-radius: 25px;
    padding: 20px;
    height: 20rem;
    width: 100%;
    background-color: var(--color-grey-dark);
    margin-left: 40px;
    font: 14px/1.4 Roboto, Helvetica, Arial, Tahoma, sans-serif;
    font-weight: 300;
    color: #fff;
}


.timeline-createPost {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.profile-pic {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.caption {
    width: 90%;
    margin-left: 3em;
    padding: 10px 20px;
}   

.caption input {
    position: relative;
    overflow:hidden;
    width: 95%;
    border: 0;
    background-color: var(--color-grey-dark);
    color: var(--color-full-white);
    font-size: 20px;
}

.select-song {
    position: relative;
    top: 50%;
}

.share {
    position: relative;
    width: 5rem;
    top: 50%;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    background-color: #9b64b1;
    margin-left: 92%;
    font-weight: bold;
}

.timeline-post {
    position: relative;
    padding: 10px;
}

.post-info {
    position: relative;
    left: var(--padding);

    display: flex;
    gap: 1em;
}

.timeline-post-image {
    --size: 200px;
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
}

.timeline-post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-desc {
    position: relative;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    color: var(--color-full-white);
}

.timeline-post-username {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-left: 84%;
}

.user-pic {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.username {
    font-size: 16px;
    color: var(--color-full-white);
}

.post-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.post-artist {
    font-size:15px;
    text-align: center;
}

.post-content {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: left;
    overflow: hidden;
    color: var(--color-full-white);
}

.post-caption {
    font-size:20px;
}


.post-title:hover,
.post-artist:hover,
.timeline-post-username:hover {
    text-decoration: underline;
    color: var(--primary-color);
    cursor: pointer;
}

.timeline-post-actions {
    position: relative;
    top: 70%;
    margin-left: 89%;
    display: flex;
    gap:1em;
    flex-direction: row;
    overflow: hidden;
}

/******Right Side******/

.right-bar {
    --padding: 1em;
    width: 30%;
    min-height: 100%;
    padding: var(--padding);
    right: 5px;
    position: absolute;
    gap: 5px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #303030;
    list-style-type: none;
}
  
.search-form {
    top: 0;
    background-color: var(--color-grey-dark);
    padding: 10px 20px;
    border-radius: 20px;
}
  
.search-form input {
    overflow:hidden;
    width: 95%;
    border: 0;
    background-color: var(--color-grey-dark);
    color: var(--color-full-white);
    font-size: 14px;
}
  
.search-form i {
    color: var(--color-full-white);
}

.side-block {
    position:relative;
    border-radius: 25px;
    padding: 20px;
    height: 20rem;
    width: 100%;
    background-color: var(--color-grey-dark);
    
    font: 14px/1.4 Roboto, Helvetica, Arial, Tahoma, sans-serif;
    font-weight: 300;
    color: #fff;
}

.friend-status,
.suggestions {
    text-align: center;
    font-size: medium;
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-grey-dark);
    padding: 1rem 1.5rem;
    width: 40rem;
    height: 20rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: var(--green-hover-color);
}

.close-button:hover {
    background-color:  var(--green-color);  
    ;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 0.5rem;
    position: absolute;
    left: 510px;
    top: 80%;
  }
.shareButton{
  background-color: var(--green-hover-color); 
  color: black; 
  border: 2px solid #301934;
 

}
.shareButton:hover {
    background-color:var(--green-color);
    color: white;
  }
  
  
  .typewriter {
    /* padding-top: 2em; */
    
    display: flex;
    justify-content: center;
    position:absolute; 
    left:80px; 
    top:15px
    
  } 
  
  /* DEMO-SPECIFIC STYLES */
   .typewriter h1 {
    color: rgb(255, 255, 255);
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid purple; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    position: relative;
    top: 2px;
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  } 
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 50% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(99, 56, 161) }
  }
  .search-bar input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  .search-bar input[type=text] {
    border: 1px solid #ccc;
  }
  .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    clip-path: circle();
  }

  .box {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position:absolute; 
    top:80px;
  }
  .box :hover{
    background-color: #dbcbdd;
    opacity: 0.5;
    border-radius: 50%;
    color: white;
  }
    .box img {
        width: 50%;
        height: 50%;
        object-fit: cover;
        position: relative;
        left: 50px; 
        top: 50px;
    }
    #textar{
        margin: 10px 0px 20px 45px;
        width: 60%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 1px solid rgb(12, 10, 10);
        border-radius: 4px;
        background-color: #45494e;
        font-size: 16px;
        position : relative;
        left: 150px;
        top: 0px;

    }